*{
    margin: 0;
    padding: 0;
    
}
$layout-breakpoint-small: 480px;
$layout-breakpoint-monitor: 1360px;


@media screen and (max-width: $layout-breakpoint-small) {
    .container{
        width: 100%;
        padding: 12px;
        .contents {
            margin-top: 70px;
            .inner-content{
                 width: 100%;
                 h1{
                    font-size: 40px;
                 }
            }
            .inner-swap{
                display: flex;
                flex-direction: column-reverse;
                margin-top: 35px;
            .inner-img{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .inner-swap-content{
                
                width: 100%;

                a{
                    text-decoration: none;
                    font-size: 21px;
                    text-transform: capitalize;
                    color: rgb(15, 15, 15);
                }
                p{
                    line-height: 24px;
                    font-size: 21px;
                    color: rgb(19, 19, 19);
                    margin: 0;
                    margin-bottom: 20px;
                }
            } 
            }
          }
        }
        .extra-links{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 40px;
            margin-top: 60px;
    
            .wrapper{
                transform: translate(-50%, -50%);
              }
              
              button{
                display: block;
                width: 200px;
                height: 54px;
                line-height: 40px;
                font-size: 18px;
                font-family: sans-serif;
                color: #f1f1f1;
                border: 2px solid #333;
                letter-spacing: 2px;
                text-align: center;
                background-color: #333;
                position: relative;
                cursor: pointer;
                transition: all .35s;
              }
              
              button span{
                position: relative;
                z-index: 2;
              }
              
              button:after{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: #e4e4e4;
                transition: all .35s;
              }
              
              button:hover{
                color: #0f0f0f;
              }
              
              button:hover:after{
                width: 100%;
              }
             
        }
        
    }
 

    @media screen and (min-width: 768px)  and (max-width:$layout-breakpoint-monitor){
      .container{
        width: 75%;
     
        .contents{
          
          .inner-content{
            position: relative;
            h1{
              position: absolute;
              font-size: 35px;
            }
         
          }

          .inner-swap{
            max-width: 100vw;
            display: flex;
            align-items: flex-start;
            align-content: space-between;
            margin: 0;
        .inner-img{
            width: 100%;
          
            img{
                width: 100%;
            }
        }
        .inner-swap-content{
            width: 70%;
            margin-right: 6em;
            margin-top: 8em;

            a{
                text-decoration: none;
                font-size: 20px;
                text-transform: capitalize;
                color: rgb(15, 15, 15);
            }
            p{
                line-height: 24px;
                font-size: 20px;
                color: rgb(19, 19, 19);
                margin: 0;
                
                margin-bottom: 20px;
            }
        } 
        }
          
        }
      }
    }

