$layout-breakpoint-small: 480px;

.navbar{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    margin-bottom: 50px;
    background-color: rgb(252, 252, 252);
    box-shadow:0px 0px 10px #34343477;
    .nav-logo{
        width: 30%;
        img{
            width: 14%;
            margin-bottom: 10px;
        }
        .logo-name{
            width: 20%;
        }
    }
    .nav-links{
        display: flex;
        justify-content: space-around;
        img{
            width: 35px;
            height: 35px;
            margin-top: 18px;
        }
        a{
            text-decoration: none;
            font-size: 20px;
            padding: 20px;
            color: #0f0f0f;
        }
    }
    .extra-links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
        .wrapper{
            transform: translate(-50%, -50%);
          }
          
          button{
            display: block;
            width: 200px;
            height: 54px;
            line-height: 40px;
            font-size: 18px;
            font-family: sans-serif;
            color: #1f1f1f;
            border: 2px solid #333;
            letter-spacing: 2px;
            text-align: center;
            border-color: #333;
            position: relative;
            cursor: pointer;
            transition: all .35s;
          }
          
          button span{
            position: relative;
            z-index: 2;
          }
          
          button:after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: #1ca8db;
            transition: all .35s;
          }
          
          button:hover{
            color: #0f0f0f;
          }
          
          button:hover:after{
            width: 100%;
          }
         
    }
}



@media screen and (max-width: $layout-breakpoint-small) {
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(252, 252, 252);
        box-shadow:0px 0px 10px #34343477;
        .nav-logo{
            margin: auto;
            img{
                width: 30%;
                margin: auto;
            }
            .logo-name{
                width: 50%;
            }
        }
        .nav-links{
            display: flex;
            align-items: center;
            img{
               display: none;
            }
            a{
                text-decoration: none;
                font-size: 15px;
                padding: 20px;
                color: #0f0f0f;
            }
        }
        .extra-links{
            margin-bottom: 40px;
            .wrapper{
                transform: translate(-50%, -50%);
              }
              
              button{
                display: block;
                width: 200px;
                height: 54px;
                padding: 10px 20px;
                line-height: 40px;
                font-size: 15px;
                font-family: sans-serif;
                color: #f1f1f1;
                border: 2px solid #333;
                letter-spacing: 2px;
                text-align: center;
                background-color: #333;
                position: relative;
                cursor: pointer;
                transition: all .35s;
              }
              
              button span{
                position: relative;
                z-index: 2;
              }
              
              button:after{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: #e4e4e4;
                transition: all .35s;
              }
              
              button:hover{
                color: #0f0f0f;
              }
              
              button:hover:after{
                width: 100%;
              }
             
        }
    }
}